.recommend-sonlist {
    background-color: rgba(0, 0, 0, .4);
    border-top: 1px solid transparent;

    .recommend-sonlist-topnav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: #ffac41;
    }

    // 创建者介绍
    .recommend-sonlist-header {
        padding: 0 10px 10px 10px;
        margin-top: 45px;

        .sonlist-header-up {
            display: flex;
            justify-content: space-between;
            height: 120px;

            .sonlist-header-up-left {
                flex: 1;
                height: 100%;
                border-radius: 5px;
            }

            .sonlist-header-up-right {
                flex: 2;
                margin-left: 10px;

                h3 {
                    color: #fff;
                    margin-bottom: 10px;
                }

                .creator {
                    margin-bottom: 10px;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        margin-right: 5px;
                    }
                }

                p {
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; //2行
                    -webkit-box-orient: vertical;
                }
            }
        }

        .sonlist-header-down {}
    }

}