.music-details {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 150;
    background-color: rgba(0, 0, 0, .5);

    // 背景模糊
    .details-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-filter: blur(20px);
            filter: blur(20px);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    // 顶部
    .details-top {
        position: fixed;
        color: #fff;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;

        .details-top-title {
            p {
                letter-spacing: 2px;

                &:first-child {
                    font-size: 18px;
                    margin: 4px 0;
                }

                &:last-child {
                    color: #eee;
                    font-size: 14px;
                }
            }
        }
    }

    // 中部
    .details-middle {
        position: fixed;
        top: 80px;
        bottom: 170px;
        display: flex;
        width: 100%;
        text-align: center;


        .details-middle-cover {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .details-middle-img {
                width: 80%;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 10px solid hsla(0, 0%, 100%, .1);
                    box-sizing: border-box;
                }
            }

            .details-middle-icon {
                ul {
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    padding: 0 20px;
                    margin-bottom: 20px;

                    li {
                        flex: 1;
                        margin: 0 20px;
                        height: 30px;

                        svg {
                            width: 100%;
                            height: 100%;
                            color: #fff;
                        }
                    }
                }
            }
        }


    }

    // 底部
    .details-bottom {
        position: fixed;
        bottom: 100px;
        width: 100%;
        text-align: center;
        transition: all .4s cubic-bezier(.86, .18, .82, 1.32);

        .details-progress-bar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .details-progress-circle {
                position: absolute;
                width: 30px;
                height: 30px;
                left: 60px;

                .progress-circle-btn {
                    position: relative;
                    top: 7px;
                    left: 7px;
                    box-sizing: border-box;
                    width: 16px;
                    height: 16px;
                    border: 3px solid #fff;
                    border-radius: 50%;
                    background-color: #1eb2a6;
                }
            }

            span {
                color: #fff;
            }

            .am-progress-outer {
                position: relative;
                width: 60%;
                height: 4px;
                margin: 0 5px;
            }
        }

        .details-bottom-icon {
            position: relative;
            top: 30px;

            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
                padding: 0 20px;

                li {
                    flex: 1;
                    margin: 0 20px;
                    height: 30px;

                    &:nth-child(3) {
                        transform: scale(2);
                    }

                    svg {
                        width: 100%;
                        height: 100%;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.spin {
    animation: spin 20s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}