.play-music {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.common-mode {
    height: 49px;
    display: flex;
    border-top: 1px solid #e4f9ff;

    .mode-left {
        flex: 2;
        display: flex;
        align-items: center;
        padding-left: 5px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }

        .mode-left-introduction {
            margin-left: 8px;

            p {
                font-size: 12px;

                &:first-child {
                    margin-bottom: 8px;
                }
            }

        }
    }

    .mode-right {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        .mode-right-progress {
            border-radius: 15px;
            position: relative;
            .progress-style {
                width: 60px;
                border-radius: 50%;
            }
        }

        svg {
            width: 30px;
            height: 30px;
        }
    }
}