.home {

    .menu,
    .search {
        position: absolute;
        width: 10%;
        height: 33.5px;
        top: 0;
        font-size: 23px;
        background-color: #fff;
        padding-top: 10px;
    }

    .menu {
        left: 0;
        padding-left: 5px;
    }

    .search {
        right: 0;
    }

    .am-tabs-pane-wrap-inactive {
        height: auto;
    }

    .am-tabs-default-bar-tab-active {
        color: #000;
        font-weight: bold;
        transition: all 0.5s;
        font-size: 18px;
    }

    .am-tabs-tab-bar-wrap {
        width: 80%;
        margin: 0 auto;
    }

    .tabs-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #fff;
    }
}