.find {

    // 轮播图样式
    .banners {
        position: relative;

        .banners-title {
            position: absolute;
            bottom: 0;
            right: 10px;
            border-radius: 8px 0 8px 0;
            color: #fff;
            padding: 5px;

            &.red {
                background-color: #c81912;
            }

            &.blue {
                background-color: #40e0d0;
            }
        }
    }

    // 导航栏样式
    .nav {
        padding: 10px 5px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #000;
        }

        svg {
            width: 25px;
            height: 25px;
            color: #fff;
        }

        .nav-svg {
            width: 40px;
            height: 40px;
            background-color: #72b5b7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .title {
            margin-top: 7px;
            font-size: 13px;
        }
    }

    // 推荐歌单的标题样式
    .recommend-songlist {
        font-size: 12px;
        margin: 8px 0;
        color: #666;
    }

    .pick {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            border: 1px solid #eee;
            border-radius: 12px;
            background-color: #fff;
            font-size: 14px;
            padding: 5px;
        }
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    // 推荐歌单
    .song-list {
        height: 140px;

        .find-resource {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100px;
                margin-bottom: 5px;
                border-radius: 8px;
            }

            p {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-clamp: 2;
                -webkit-line-clamp: 2; //2行
                -webkit-box-orient: vertical;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 25px;
                padding: 5px 5px 0 0;
                font-size: 12px;
                text-align: end;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 8px 8px 0 0;
            }
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            width: 31%;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }

    // 风格推荐区域
    .song-recommend {
        height: 180px;

        .swiper-slide {
            width: 100%;
            margin-left: -10%;
            padding-left: 10%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &:last-child {
                margin-left: 0;
                padding-left: 0;
            }
        }

        .song-recommend-list {
            height: 50px;
            display: flex;

            img {
                height: 100%;
                width: 15%;
                border-radius: 5px;
            }

            .song-recommend-singer {
                display: flex;
                justify-content: space-between;
                width: 260px;
                margin-left: 10px;
                .song-recommend-singer-left {
                    width: 100%;
                    overflow: hidden;
                    font-size: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    div {
                        margin-bottom: 5px;
                        display: flex;

                        span {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }

                .song-recommend-singer-right {
                    height: 100%;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }

}